*{
        
    box-sizing: border-box;
}

body{
    font-family: 'Roboto', sans-serif;
    background-color: #ebebeb;
}

.main-header {
    background-color: #EAC926;
    padding: 20px;
    
    position: relative;
    top: 0;
    z-index: 100;
}
.hamburguer-button{
    background-color: #03264C;
    color: #ffffff;
    display: block;
    max-width: 50px;
    padding: 15px 0px;
    border-radius: 8px;
    text-align: center;
    font-size: 18px;
    margin: auto;
}
.logo {
    width: 200px;
    /*animation: aumentar 1000ms  linear infinite alternate ;*/
}

.copy-header {
    font-weight: 400;
    text-align: center;
    
}
.main-navbar {
 display: none;   
}
.main-navbar ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
.main-navbar a {
    text-decoration: none;
    color: #222222;
    display: inline-block;
    padding: 5px 0px;
    font-style: 17px;
}



h3{
    font-size: 24px;
}

p{
    font-size: 12px;
}
/*

div.top-header{
    display: flex;
    flex-wrap: wrap;
    padding: 5%;
}

header div.top-header p{
    width: 100%;
    text-align: center;
    margin-top: 10px;
}

header{
    background-color: #EAC926;
}


header div.logo,
header .form{
    width: 50%;
}

header div.logo{
    padding: 10px;
}
*/
/*
header .form{
    display: flex;
    align-items: center;
    padding: 2px;
    font-size: 11px;
}

header nav{
    font-size: 12px;
    margin-left: 20px;
}

header ul li{
    list-style-type: none;
}

header ul li a{
    text-decoration: none;
    color: #000;
}

header .form .input{
    background-color: #FFF;
    border: 1px solid #000;
    outline: none;
    color: #666;
    padding: 2px;
}


header .form .submit{
    background-color: #FFF;
    border: 1px solid #000;
    color: #666;
    width: 10%;
}
*/
/*

div.burger-menu{
    text-align: center;
}

div.burger-menu i{
    background-color: #0044AA;
    border-radius: 5px;
    color: #FFF;
    font-size: 20px;
    height: 40px;
    margin: 10px 0px 20px 0px;
    padding: 10px;
    width: 40px;
}
*/
div.last-visit,
div.offers{
    display: flex;
    flex-wrap: wrap;
}

.price{
    font-size: 18px;
    width: 30%;
}

.discount{
    width: 70%;
}

.discount,
.description{
    font-size: 16px;
    font-weight: normal;
}

h3,
.description{
    color: #666;
    display: none;
    margin-top: 20px;
}


section.banner img{
    width: 100%;
}

main{
    width: 90%;
    margin: 0 auto;
}


main section article{
    background-color: #fff;    
    margin: 10px 0px;
}


main section article:hover .description {
    display: block;
}

main section article:hover {
    box-shadow: 0px 0px 10px rgb(100, 100,100);
}

main section article img{
    width: 100%;
}

main section article i,
.discount{
    color: #39b54a;
}


/* Icono camion */
main section article i {
    display: block;
    font-size: 16px;
    padding: 5px;
    width: 30px;
    height: 30px;
    border: 1px solid #39b54a;
    background-color: #FFF;
    border-radius: 50%;
    position: absolute;
    right: 20px;
    top: -15px;
    transition: all 0.5s;
}

main section article:hover i{
    transform:rotate(-360deg);
}
main section h3{
    margin: 20px 0px;
}

article div.main-article{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
    border-top: 1px solid #ebebeb;
    position: relative;
    padding: 15px;
}

.boton-formulario:hover {
    background-color:  #0022AA;
    border: none;
    font-style: 20px;
    color: #ffffff;
    padding: 5px 10px;
    border-radius: 5px;
}

/*footer*/

.footer {
    display: block;
    background-color: #ffffff;
}

.container {
    padding: 30px 0;
    display: flex;
    flex-wrap: nowrap;
    align-content: stretch;
}

.slide {
    margin: 3rem auto;
    display: block;
    width: 30%;
  
}

.images-footer {
    display: flex;
    flex-direction: column;
    text-align: center;
    font-size: 1.5rem;
    margin-bottom: 1rem; 
}

.imgfooter {
    display: inline-block;
    color: #0044AA;
    text-rendering: auto;
    content: "\f06b";
}
.h4 {
    display: block;
}

/*register*/
.register {
    flex-wrap: nowrap;
    align-content: stretch;
}
.section-register {
    margin: 3rem;
}

.register-h2 {
    color: dimgray;
}
.register-h4 {
    color: dimgray;
}
@media (min-width: 480px){
      

    main section div.products{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: flex-start;
    }
    
    main section div.products article{
        width: 45%;
    }

    .price,
    .discount{
        width: 50%;
    }
}

@media (min-width: 769px){
    main section div.products article{
        width: 22%;
    }
    .main-header-top-bar {
        
        display: flex;
        justify-content: space-between;
    }
    .copy-header {
        width: 350px;
        text-align: right;
    }
    .hamburguer-button {
        display: none;
    }
    .main-navbar {
        
        display: flex;
        justify-content: space-between;
    }
    .main-navbar ul {
        display: flex;
    }
    .main-navbar li {
        margin: 0 5px;
    }
}
@media (min-width: 1200px) {
    .copy-header {
        width: 100%;
        text-align: right;
        margin: 10px 0;
        padding: 0px 10px;
    }
}